doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Personal Minimalist
    link(rel='stylesheet' href='styles.scss')
    link(
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Archivo:400,700&display=swap"
    )
  body
    section.hero.is-large
      .hero-body
        .container
          .grid
            div.grid-tt
              h1.title.is-1 Satoshi Nakamoto
              h2.subtitle.is-3 Blockchain Developer
            div.grid-px
              div.image.is-square
                image.has-ratio(src="image.svg" width="240px")
